<header>
  <nav>
    <div class="nav-wrapper">
      <div class="row">
        <div class="col s12 hide-on-large-only valign-wrapper">
          <a href="#" data-activates="slide-out" class="button-collapse">
            <i class="material-icons">menu</i>
          </a>
          <a class="brand-logo center">StrataBet</a>
        </div>
        <div class="col s12 m4 base">
          <p class="insight-text">Man Utd vs Man City</p>
        </div>
        <div class="col s12 m8 base">
          <p class="insight-text">Man United have scored at least 2 goals in their last 4 matches.</p>
        </div>
      </div>
      <ul id="slide-out" class="side-nav fixed base">
        <li><a routerLink="/">StrataBet Home<i class="material-icons">home</i></a></li>
        <li><a>Search<i class="material-icons">search</i></a></li>
        <li><div class="divider"></div></li>

        <div class="carousel carousel-slider">
          <div class="carousel-item">
            <li><a (click)="carouselNext()">Competitions<i class="material-icons">language</i></a></li>
            <li><div class="divider"></div></li>
            <li><a>Amount Matched<i class="material-icons">attach_money</i></a></li>
            <li><a>Signals Board<i class="material-icons">wb_sunny</i></a></li>
            <li><a>Performance vs. Lines<i class="material-icons">equalizer</i></a></li>
            <li><a>Drifters<i class="material-icons">arrow_upward</i></a></li>
            <li><a>Steamers<i class="material-icons">arrow_downward</i></a></li>
            <li><div class="divider"></div></li>
            <li><a>Knowledge Center<i class="material-icons">school</i></a></li>
            <li><a>Your Profile<i class="material-icons">person</i></a></li>
            <li><a>Contact Us<i class="material-icons">drafts</i></a></li>
          </div>
          <div class="carousel-item">
            <li><a (click)="carouselPrev()">Competitions<i class="material-icons">arrow_back</i></a></li>
            <li><div class="divider"></div></li>
            <li><a (click)="carouselNext()">ENG - Premier League</a></li>
            <li><a (click)="carouselNext()">SPA - Primera División</a></li>
            <li><a (click)="carouselNext()">EUR - Champions League</a></li>
            <li><a (click)="carouselNext()">ITA - Serie A</a></li>
            <li><a (click)="carouselNext()">GER - Bundesliga</a></li>
            <li><a (click)="carouselNext()">FRA - Ligue 1</a></li>
            <li><a (click)="carouselNext()">EUR - Europa League</a></li>
            <li><a (click)="carouselNext()">NET - Eredivisie</a></li>
            <li><a (click)="carouselNext()">ENG - Championship</a></li>
            <li><a (click)="carouselNext()">USA - MLS</a></li>
            <li><a (click)="carouselNext()">POR - Primeira Liga</a></li>
            <li><a (click)="carouselNext()">GER - 2. Bundesliga</a></li>
            <li><a (click)="carouselNext()">SCO - Premiership</a></li>
            <li><a (click)="carouselNext()">JAP - J1 League</a></li>
            <li><a (click)="carouselNext()">TUR - Süper Lig</a></li>
            <li><a (click)="carouselNext()">SWE - Allsvenskan</a></li>
            <li><a (click)="carouselNext()">NOR - Eliteserien</a></li>
            <li><a (click)="carouselNext()">SWI - Super League</a></li>
            <li><a (click)="carouselNext()">AUS - Bundesliga</a></li>
            <li><a (click)="carouselNext()">AUS - A-League</a></li>
            <li><a (click)="carouselNext()">GRE - Super League</a></li>
            <li><a (click)="carouselNext()">CHI - CSL</a></li>
          </div>
          <div class="carousel-item base-color">
            <li><a (click)="carouselPrev()">ENG - Premier League<i class="material-icons">arrow_back</i></a></li>
            <li><div class="divider"></div></li>
            <li class="m-l1">Sat 25/02/17</li>
            <li><a routerLink="/fixture">Man Utd vs Bournemouth</a></li>
            <li><a routerLink="/fixture">Leicester vs Hull</a></li>
            <li><a routerLink="/fixture">Stoke vs Middlesbrough</a></li>
            <li><a routerLink="/fixture">Swansea vs Burnley</a></li>
            <li><a routerLink="/fixture">Watford vs Southampton</a></li>
            <li><a routerLink="/fixture">West Brom vs Crystal Palace</a></li>
            <li><a routerLink="/fixture">Liverpool vs Arsenal</a></li>
            <li class="m-l1">Sun 26/02/17</li>
            <li><a routerLink="/fixture">Tottenham vs Everton</a></li>
            <li><a routerLink="/fixture">Sunderland vs Man City</a></li>
            <li class="m-l1">Mon 27/02/17</li>
            <li><a routerLink="/fixture">West Ham vs Chelsea</a></li>
          </div>
        </div>
      </ul>
    </div>
  </nav>
</header>

<main class="row">

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>

</main>

<!--footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
    © 2014 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer-->
