@import '../mixins.scss';

//TODO this is ok but would be better to use http://materializecss.com/sass.html if possible
$small-max-width: 600px;
$medium-max-width: 992px;
$large-min-width: 993px;

// Expand main until fill the height of the window
main {
  width: 100%;
  flex-grow: 1;
  .main-content {
    height: 100%;
  }
}

// Header and footer don't grow
header { flex-grow: 0; }
footer { flex-grow: 0; }

.page-footer {
  padding-top: 0px;
}

/* SideNav styles */

// side-nav is always open on large screens, so push content across
header, main, footer {
  padding-left: 300px;
}
// side-nav overlays content on smaller screens
@media only screen and (max-width : $medium-max-width) {
  header, main, footer {
    padding-left: 0;
  }
}

.carousel.carousel-slider {
  height: 100%;
}

//Why is this required when not in examples?
.collapsible-body {
  padding: inherit;
}

/* Insight header styles */

@media only screen and (min-width : $small-max-width) {
  .insight-text {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
@media only screen and (max-width : $small-max-width) {
  .insight-text {
    line-height: initial;
  }
}
