<p>
  market-monitor works!
</p>
<div class="carousel">
  <a class="carousel-item" href="#one!"><img src="http://lorempixel.com/800/400/food/1"></a>
  <a class="carousel-item" href="#two!"><img src="http://lorempixel.com/800/400/food/2"></a>
  <a class="carousel-item" href="#three!"><img src="http://lorempixel.com/800/400/food/3"></a>
  <a class="carousel-item" href="#four!"><img src="http://lorempixel.com/800/400/food/4"></a>
</div>
