/* Customised versions of useful basscss styles to play nicely with materialize css */
/* When adding more styles here, please copy modules from https://github.com/basscss/basscss-sass */

// Converted Variables

$space-1: .5rem !default;
$space-2: 1rem !default;
$space-3: 2rem !default;
$space-4: 4rem !default;

// Custom Media Query Variables

/* Basscss Margin */

.m-0  { margin:        0 }

.m-t0 { margin-top:    0 }

.m-r0 { margin-right:  0 }

.m-b0 { margin-bottom: 0 }

.m-l0 { margin-left:   0 }

.m-x0 { margin-left:   0; margin-right:  0 }

.m-y0 { margin-top:    0; margin-bottom: 0 }

.m-1  { margin:        $space-1 }

.m-t1 { margin-top:    $space-1 }

.m-r1 { margin-right:  $space-1 }

.m-b1 { margin-bottom: $space-1 }

.m-l1 { margin-left:   $space-1 }

.m-x1 { margin-left:   $space-1; margin-right:  $space-1 }

.m-y1 { margin-top:    $space-1; margin-bottom: $space-1 }

.m-2  { margin:        $space-2 }

.m-t2 { margin-top:    $space-2 }

.m-r2 { margin-right:  $space-2 }

.m-b2 { margin-bottom: $space-2 }

.m-l2 { margin-left:   $space-2 }

.m-x2 { margin-left:   $space-2; margin-right:  $space-2 }

.m-y2 { margin-top:    $space-2; margin-bottom: $space-2 }

.m-3  { margin:        $space-3 }

.m-t3 { margin-top:    $space-3 }

.m-r3 { margin-right:  $space-3 }

.m-b3 { margin-bottom: $space-3 }

.m-l3 { margin-left:   $space-3 }

.m-x3 { margin-left:   $space-3; margin-right:  $space-3 }

.m-y3 { margin-top:    $space-3; margin-bottom: $space-3 }

.m-4  { margin:        $space-4 }

.m-t4 { margin-top:    $space-4 }

.m-r4 { margin-right:  $space-4 }

.m-b4 { margin-bottom: $space-4 }

.m-l4 { margin-left:   $space-4 }

.m-x4 { margin-left:   $space-4; margin-right:  $space-4 }

.m-y4 { margin-top:    $space-4; margin-bottom: $space-4 }

.m-xn1 { margin-left: -$space-1; margin-right: -$space-1; }

.m-xn2 { margin-left: -$space-2; margin-right: -$space-2; }

.m-xn3 { margin-left: -$space-3; margin-right: -$space-3; }

.m-xn4 { margin-left: -$space-4; margin-right: -$space-4; }

.m-l-auto { margin-left: auto }

.m-r-auto { margin-right: auto }

.m-x-auto { margin-left: auto; margin-right: auto; }

/* Basscss Padding */

.p-0  { padding: 0 }

.p-t0 { padding-top: 0 }

.p-r0 { padding-right: 0 }

.p-b0 { padding-bottom: 0 }

.p-l0 { padding-left: 0 }

.p-x0 { padding-left: 0; padding-right:  0 }

.p-y0 { padding-top: 0;  padding-bottom: 0 }

.p-1  { padding:        $space-1 }

.p-t1 { padding-top:    $space-1 }

.p-r1 { padding-right:  $space-1 }

.p-b1 { padding-bottom: $space-1 }

.p-l1 { padding-left:   $space-1 }

.p-y1 { padding-top:    $space-1; padding-bottom: $space-1 }

.p-x1 { padding-left:   $space-1; padding-right:  $space-1 }

.p-2  { padding:        $space-2 }

.p-t2 { padding-top:    $space-2 }

.p-r2 { padding-right:  $space-2 }

.p-b2 { padding-bottom: $space-2 }

.p-l2 { padding-left:   $space-2 }

.p-y2 { padding-top:    $space-2; padding-bottom: $space-2 }

.p-x2 { padding-left:   $space-2; padding-right:  $space-2 }

.p-3  { padding:        $space-3 }

.p-t3 { padding-top:    $space-3 }

.p-r3 { padding-right:  $space-3 }

.p-b3 { padding-bottom: $space-3 }

.p-l3 { padding-left:   $space-3 }

.p-y3 { padding-top:    $space-3; padding-bottom: $space-3 }

.p-x3 { padding-left:   $space-3; padding-right:  $space-3 }

.p-4  { padding:        $space-4 }

.p-t4 { padding-top:    $space-4 }

.p-r4 { padding-right:  $space-4 }

.p-b4 { padding-bottom: $space-4 }

.p-l4 { padding-left:   $space-4 }

.p-y4 { padding-top:    $space-4; padding-bottom: $space-4 }

.p-x4 { padding-left:   $space-4; padding-right:  $space-4 }
