<nav>
  <div class="nav-wrapper valign-wrapper">
    <div class="col s12">
      <h5>Where's the money?</h5>
    </div>
  </div>
</nav>
<div class="row">
  <div class="col s12 m12 l4">
    <app-market-highlight></app-market-highlight>
  </div>
  <div class="col s12 m12 l4">
    <app-market-highlight></app-market-highlight>
  </div>
  <div class="col s12 m12 l4">
    <app-market-highlight></app-market-highlight>
  </div>
</div>
<nav>
  <div class="nav-wrapper valign-wrapper">
    <div class="col s12">
      <h5>Market Monitor</h5>
    </div>
  </div>
</nav>
<div class="row">
  <div class="col s12 m12 l12">
    <app-market-monitor></app-market-monitor>
  </div>
</div>
