<nav>
  <div class="nav-wrapper">
    <a class="brand-logo center">Tottenham vs Everton</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/fixture">Signals Dashboard</a></li>
      <li><a routerLink="/fixture/odds">Match Odds</a></li>
    </ul>
  </div>
</nav>

<div class="inner-outlet">
  <router-outlet></router-outlet>
</div>
